<template>
  <table>
    <tbody>
      <tr>
        <th>Sang</th>
        <td v-if="weeksOld >= bloodWait">
          Oui
        </td>
        <td v-else>
          ⏰ Dès le {{ nextDonation(bloodWait) }}
        </td>
      </tr>
      <tr>
        <th>Plasma</th>
        <td v-if="weeksOld >= plasmaWait">
          Oui
        </td>
        <td v-else>
          ⏰ Dès le {{ nextDonation(plasmaWait) }}
        </td>
      </tr>
      <tr>
        <th>Plaquettes</th>
        <td v-if="weeksOld >= plateletsWait">
          Oui
        </td>
        <td v-else>
          ⏰ Dès le {{ nextDonation(plateletsWait) }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script setup lang="ts">
interface Props {
  weeksOld: number
  nextDonation: (weeks: number) => string
  bloodWait: number
  plasmaWait: number
  plateletsWait: number
}

defineProps<Props>()
</script>
