<template>
  <header class="navbar is-dark">
    <div class="container">
      <div class="navbar-brand">
        <nuxt-link
          class="navbar-item"
          to="/"
          @click="open = false"
        >
          Gaël Demette
        </nuxt-link>
        <div
          class="navbar-burger burger"
          @click="open = !open"
        >
          <span aria-hidden="true" />
          <span aria-hidden="true" />
          <span aria-hidden="true" />
          <span aria-hidden="true" />
        </div>
      </div>
      <div
        class="navbar-menu"
        :class="{ 'is-active': open }"
      >
        <div class="navbar-start">
          <nuxt-link
            class="navbar-item"
            to="/"
            @click="open = false"
          >
            Mon profil
          </nuxt-link>
          <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">
              Autres
            </span>
            <div class="navbar-dropdown is-boxed">
              <nuxt-link
                class="navbar-item"
                :to="{ name: 'wishlist' }"
                @click="open = false"
              >
                Ma liste de souhaits
              </nuxt-link>
              <nuxt-link
                class="navbar-item"
                :to="{ name: 'tea' }"
                @click="open = false"
              >
                Le thé que j'apprécie
              </nuxt-link>
              <nuxt-link
                class="navbar-item"
                :to="{ name: 'plant' }"
                @click="open = false"
              >
                Les plantes
              </nuxt-link>
              <nuxt-link
                class="navbar-item"
                :to="{ name: 'blood-donation' }"
                @click="open = false"
              >
                Don du sang
              </nuxt-link>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <span class="navbar-link">
              Contact
            </span>
            <div class="navbar-dropdown is-boxed">
              <a
                class="navbar-item"
                href="mailto:gael+website@demette.fr"
                title="Email"
                target="_blank"
                @click="open = false"
              >
                <span>Email</span>
              </a>
              <a
                class="navbar-item"
                href="https://github.com/Nainterceptor"
                title="Github"
                target="_blank"
                @click="open = false"
              >
                <span>Github</span>
              </a>
              <a
                class="navbar-item"
                href="https://gitlab.com/Nainterceptor"
                title="Gitlab"
                target="_blank"
                @click="open = false"
              >
                <span>Gitlab</span>
              </a>
              <a
                class="navbar-item"
                href="https://x.com/gael_demette"
                title="𝕏 (ex-twitter)"
                target="_blank"
                @click="open = false"
              >
                <span>𝕏</span>
              </a>
              <a
                class="navbar-item"
                href="https://www.linkedin.com/in/gaeldemette/"
                title="LinkedIn"
                target="_blank"
                @click="open = false"
              >
                <span>LinkedIn</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script setup>
import { ref } from 'vue'

const open = ref(false)
</script>
