<template>
  <div>
    <hero-section
      :title="`${plant.category.icon ?? ''} ${plant.category.name} > ${plant.name}`"
    >
      <template
        v-if="plant.category.summary"
        #subtitle
      >
        <!-- eslint-disable-next-line vue/no-v-html -->
        <div v-html="plant.category.summary" />
      </template>
    </hero-section>
    <section class="container">
      <head-breadcrumb
        :items="[
          { text: 'Les plantes que je crois connaître', to: { name: 'plant' } },
          { text: plant.category.name, to: { name: 'plant-category', params: { category: plant.category.id } } },
          { text: plant.name, to: { name: 'plant-category-plant', params: { category: plant.category.id, plant: plant.id } } },
        ]"
      />
      <main class="content">
        <div class="columns">
          <div class="column is-three-quarters-desktop">
            <article class="notification is-info is-light">
              <p class="title">
                Informations
              </p>
              <div
                v-if="plant.summary"
                class="content"
              >
                <!-- eslint-disable-next-line vue/no-v-html -->
                <div v-html="plant.summary" />
              </div>
              <div
                v-if="plant.advice"
                class="content"
              >
                <!-- eslint-disable-next-line vue/no-v-html -->
                <div v-html="plant.advice" />
              </div>
            </article>
            <article
              v-if="plant.feedbacks?.length"
              class="notification is-link is-light"
            >
              <p class="title">
                Feedbacks
              </p>
              <div
                v-for="{ year, feedback } in plant.feedbacks"
                :key="year"
                class="content"
              >
                <div class="subtitle">
                  {{ year }}
                </div>
                <template v-if="feedback">
                  <!-- eslint-disable-next-line vue/no-v-html -->
                  <div v-html="feedback" />
                </template>
              </div>
            </article>
          </div>
          <div class="column">
            <article class="notification is-success">
              <div class="title">
                Caractéristiques
              </div>
              <div class="content">
                <div class="field is-grouped is-grouped-multiline">
                  <div
                    v-for="[kind, level] in plant.needs"
                    :key="kind"
                    class="control"
                  >
                    <div class="tags has-addons">
                      <span class="tag is-dark">
                        <template v-if="kind === 'watering'">💧</template>
                        <template v-else-if="kind === 'light'">☀️</template>
                        <template v-else>{{ kind }}</template>
                      </span>
                      <span
                        class="tag"
                        :class="{ 'is-info': kind === 'watering', 'is-warning': kind === 'light' }"
                      >
                        <template v-if="level === 'low'">Peu</template>
                        <template v-else-if="level === 'medium'">Modéré</template>
                        <template v-else-if="level === 'high'">Beaucoup</template>
                        <template v-else>{{ level }}</template>
                      </span>
                    </div>
                  </div>
                </div>
                <table>
                  <tbody>
                    <tr>
                      <th>Poids moyen</th>
                      <td>{{ plant.average_weight }} gr</td>
                    </tr>
                    <tr>
                      <th>Distance entre les plants</th>
                      <td>{{ plant.distance_between_plants }} cm</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </article>
            <article
              v-if="plant.periods?.length"
              class="notification is-success"
            >
              <div class="title">
                Périodes clefs
              </div>
              <div class="content">
                <table>
                  <thead>
                    <tr>
                      <th />
                      <th><abbr title="Janvier">J</abbr></th>
                      <th><abbr title="Février">F</abbr></th>
                      <th><abbr title="Mars">M</abbr></th>
                      <th><abbr title="Avril">A</abbr></th>
                      <th><abbr title="Mai">M</abbr></th>
                      <th><abbr title="Juin">J</abbr></th>
                      <th><abbr title="Juillet">J</abbr></th>
                      <th><abbr title="Aout">A</abbr></th>
                      <th><abbr title="Septembre">S</abbr></th>
                      <th><abbr title="Octobre">O</abbr></th>
                      <th><abbr title="Novembre">N</abbr></th>
                      <th><abbr title="Décembre">D</abbr></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="period in plant.periods"
                      :key="period.action"
                    >
                      <th
                        v-if="period.action === 'sow-under-cover'"
                        title="Semer sous abri"
                      >
                        Semis
                      </th>
                      <th
                        v-else-if="period.action === 'sow-in-ground'"
                        title="Semer en terre"
                      >
                        Semer
                      </th>
                      <th v-else-if="period.action === 'harvest'">
                        Récolte
                      </th>
                      <th v-else>
                        {{ period.action }}
                      </th>
                      <td
                        v-for="[month, active] in period.months"
                        :key="month"
                      >
                        <span v-if="active">🟢</span>
                        <span v-else>🔴</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </article>
            <article
              v-if="plant.disease_resistances?.length"
              class="notification is-info is-warning"
            >
              <div class="title">
                Résistances aux maladies
              </div>
              <div class="content">
                <div class="dropdowns are-small">
                  <div
                    v-for="dr in plant.disease_resistances"
                    :key="dr.code"
                    class="dropdown is-dark is-hoverable"
                  >
                    <div class="dropdown-trigger">
                      <button
                        class="button"
                        aria-haspopup="true"
                        aria-controls="dropdown-menu4"
                      >
                        <span>🔍 {{ dr.code }}</span>
                      </button>
                    </div>
                    <div
                      id="dropdown-menu4"
                      class="dropdown-menu"
                      role="menu"
                    >
                      <div class="dropdown-content">
                        <div class="dropdown-item">
                          <div class="subtitle">
                            {{ dr.name }}
                          </div>
                          <div
                            v-if="dr.description"
                            class="content"
                          >
                            <!-- eslint-disable-next-line vue/no-v-html -->
                            <div v-html="dr.description" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="notification is-link">
              <div class="content">
                <div class="card">
                  <div class="card-content">
                    <div class="content">
                      <div class="columns">
                        <div class="column is-narrow">
                          <qr-code
                            :value="`https://${domain}${route.fullPath}`"
                            render-as="svg"
                            :size="100"
                            level="H"
                          />
                        </div>
                        <div class="column">
                          <div class="title is-6">
                            {{ plant.name }}
                          </div>
                          <div class="subtitle is-6">
                            {{ plant.category.name }}
                          </div>
                          <div class="content">
                            <div class="field is-grouped is-grouped-multiline">
                              <div class="control">
                                <div class="tags has-addons">
                                  <span class="tag is-white">🏋️</span>
                                  <span class="tag is-danger is-light">{{ plant.average_weight }} gr</span>
                                </div>
                              </div>
                              <div class="control">
                                <div class="tags has-addons">
                                  <span class="tag is-white">↔️</span>
                                  <span class="tag is-info is-light">{{ plant.distance_between_plants }} cm</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </main>
    </section>
  </div>
</template>

<script setup>
import QrCode from 'qrcode.vue'

const { params } = useRoute()
const { fetchPlant } = usePlant()
const plant = await fetchPlant(params.plant)

const route = useRoute()
const domain = computed(() => {
  try {
    return host ?? `${window.location.hostname}:${window.location.port}`
  }
  catch {
    return null
  }
})
</script>

<style lang="scss" scoped>
@use "bulma/sass/utilities" as *;

main {
  margin: 20px 0;
}

.dropdowns .dropdown:not(:last-child):not(.is-fullwidth) {
  margin-right: .5rem;
}

.dropdowns .dropdown {
  margin-bottom: .5rem;
  align-items: center;
}

.dropdown.is-dark .dropdown-trigger button {
  background: $dark;
  color: $white;
  border: 0;
  border-radius: 4px;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}
</style>
