<template>
  <div>
    <hero-section
      title="Je donne mon sang !"
      subtitle="Objectif : Atteindre les 100 dons."
    />
    <section class="container">
      <main class="columns">
        <div class="column is-three-quarters-desktop">
          <article
            v-if="stats"
            class="is-child notification"
          >
            <p class="title">
              Objectif
            </p>
            <div class="content">
              <div class="progress is-large">
                <div
                  v-if="stats.blood.count"
                  class="bar is-danger"
                  :style="{ width: stats.blood.count + '%' }"
                  :title="`${stats.blood.count} dons de sang`"
                >
                  {{ stats.blood.count }}
                </div>
                <div
                  v-if="stats.plasma.count"
                  class="bar is-info"
                  :style="{ width: stats.plasma.count + '%' }"
                  :title="`${stats.plasma.count} dons de plasma`"
                >
                  {{ stats.plasma.count }}
                </div>
                <div
                  v-if="stats.platelets.count"
                  class="bar is-warning"
                  :style="{ width: stats.platelets.count + '%' }"
                  :title="`${stats.platelets.count} dons de plaquettes`"
                >
                  {{ stats.platelets.count }}
                </div>
              </div>
            </div>
          </article>
          <article class="notification is-link">
            <p class="title">
              5 derniers dons
            </p>
            <div class="content">
              <table>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Quantité donnée</th>
                    <th class="is-narrow">
                      Hématome ?
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="donation in history"
                    :key="donation.id"
                  >
                    <td>{{ donation.date }}</td>
                    <td v-if="donation.type === 'blood'">
                      Sang
                    </td>
                    <td v-else-if="donation.type === 'platelets'">
                      Plaquettes
                    </td>
                    <td v-else-if="donation.type === 'plasma'">
                      Plasma
                    </td>
                    <td>± {{ donation.quantity }} ml</td>
                    <td
                      v-if="donation.hematoma"
                      class="is-narrow"
                    >
                      ✔️ Oui
                    </td>
                    <td
                      v-else
                      class="is-narrow"
                    >
                      ❌ Non
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </article>
        </div>
        <div class="column">
          <article class="notification is-success">
            <div class="title">
              Prochain don possible ?
            </div>
            <div
              v-if="stats.latest.type === 'blood'"
              class="content is-centered"
            >
              <donation-type-table
                :weeks-old="weeksOld"
                :next-donation="nextDonation"
                :blood-wait="8"
                :plasma-wait="2"
                :platelets-wait="4"
              />
            </div>
            <div
              v-else-if="stats.latest.type === 'plasma'"
              class="content is-large is-centered"
            >
              <donation-type-table
                :weeks-old="weeksOld"
                :next-donation="nextDonation"
                :blood-wait="2"
                :plasma-wait="2"
                :platelets-wait="2"
              />
            </div>
            <div
              v-else-if="stats.latest.type === 'platelets'"
              class="content is-large is-centered"
            >
              <donation-type-table
                :weeks-old="weeksOld"
                :next-donation="nextDonation"
                :blood-wait="4"
                :plasma-wait="2"
                :platelets-wait="4"
              />
            </div>
          </article>
          <article class="notification is-info">
            <div class="title">
              Chiffres
            </div>
            <div class="content">
              <ul>
                <li>
                  {{ stats.total.count }} dons, pour un total de {{ stats.total.quantity }}ml, dont :
                  <ul>
                    <li v-if="stats.blood.count">
                      {{ stats.blood.count }} dons de sang ({{ stats.blood.sum.quantity }}ml)
                    </li>
                    <li v-if="stats.plasma.count">
                      {{ stats.plasma.count }} dons de plasma ({{ stats.plasma.sum.quantity }}ml)
                    </li>
                    <li v-if="stats.platelets.count">
                      {{ stats.platelets.count }} dons de plaquettes ({{ stats.platelets.sum.quantity }}ml)
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </article>
        </div>
      </main>
    </section>
  </div>
</template>

<script setup lang="ts">
const {
  fetchHistory,
  fetchStats,
  processStats,
  calculateWeeksOld,
  formatNextDonationDate,
} = useBloodDonation()

const [history, stats] = await Promise.all([fetchHistory(), fetchStats().then(processStats)])

const previousDonation = new Date(stats.latest.date)
const weeksOld = calculateWeeksOld(previousDonation)
const nextDonation = (weeksToWait: number) => formatNextDonationDate(previousDonation, weeksToWait)
</script>

<style lang="scss" scoped>
@use 'sass:list';
@use "bulma/sass/utilities/derived-variables" as *;
@use "bulma/sass/utilities/initial-variables" as *;

$progress-bar-background-color: $border-weak !default;
$progress-value-background-color: $text !default;
$progress-border-radius: $radius-rounded !default;
$progress-indeterminate-duration: 1.5s !default;
$progress-colors: $colors !default;

main {
  margin: 20px 0;
}

div.progress {
  background: $progress-value-background-color;
  > .bar {
    height: 100%;
    float: left;
    text-align: center;
    color: $text-invert;
    font-size: $size-small;
    padding-top: calc($size-small / 4);
    padding-bottom: calc($size-small / 4);
    @each $name, $pair in $progress-colors {
      $color: list.nth($pair, 1);
      &.is-#{$name} {
        background-color: $color;
      }
    }

  }
}
</style>
