<template>
  <div>
    <hero-section
      title="Le thé que j'apprécie"
    >
      <template #subtitle>
        Vous le savez peut être, je bois <strong>beaucoup</strong> de thé. <br>
        En ce mois de mai 2022, je prends la décision de référencer mes achats et la quantité consommée.
      </template>
    </hero-section>
    <section class="container">
      <main class="content">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div
              v-if="query.ingredient"
              class="tags has-addons"
            >
              <span class="tag is-link">Filtre sur ingrédient</span>
              <nuxt-link
                :to="{ name: 'tea', query: { ...query, ingredient: undefined } }"
                class="tag is-delete"
              />
            </div>
          </div>
        </div>
        <table class="table is-striped is-narrow">
          <thead>
            <tr>
              <th class="is-hidden-mobile">
                Boutique
              </th>
              <th>Nom</th>
              <th>Qui aime ?</th>
              <th class="is-hidden-mobile">
                Température
              </th>
              <th class="is-hidden-mobile">
                Durée
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="{ slug, shop, who_like, ...row } in list"
              :key="slug"
            >
              <td class="is-narrow is-hidden-mobile">
                {{ shop.name }}
              </td>
              <td>
                <nuxt-link :to="{ name: 'tea-slug', params: { slug } }">
                  {{ row.name }}
                </nuxt-link>
              </td>
              <td class="is-narrow">
                <span
                  v-for="bubble in who_like"
                  :key="bubble.id"
                  :class="tagClassesFromBubbleId(bubble.id)"
                >{{ bubble.name }}</span>
              </td>
              <td class="is-narrow is-hidden-mobile">
                {{ row.celsius }}°C
              </td>
              <td
                v-if="row.max_time_to_infuse === row.min_time_to_infuse"
                class="is-narrow is-hidden-mobile"
              >
                {{ row.min_time_to_infuse }}'
              </td>
              <td
                v-else
                class="is-narrow is-hidden-mobile"
              >
                {{ row.min_time_to_infuse }}' - {{ row.max_time_to_infuse }}'
              </td>
            </tr>
          </tbody>
        </table>
      </main>
    </section>
  </div>
</template>

<script setup>
const { fetchTeaList, tagClassesFromBubbleId } = useTea()
const { query } = useRoute()
const list = await fetchTeaList(query)
</script>

<style lang="scss" scoped>
main {
  margin: 20px 0;
}
</style>
